body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* custom colors */

.bg-spotify-green {
  background-color: #2f9c51;
}

.text-spotify-green {
  color: #2f9c51;
}

.text-white-disabled {
  color: rgba(255, 255, 255, 0.5);
}

/* typography */

.text-josephin {
  font-family: 'Josefin Sans', sans-serif;
}